@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --blue:#3867d6;
    --blue-light:#4b7bec;
    --black:#000;
    --black-light:#2c2c2c;
    --white:#fff;
    --gray:#919191;
    --duration-bg-color:#323234;
    --duration-fg-color:#f3f3f3;

    --main-font-stack: 'Roboto', Arial, Helvetica, sans-serif;

    --title-font-size:1rem;
    --author-font-size:0.75rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}


li {
    list-style-type: none;
}


video,
img {
    max-width:100%;
}

.video {
    cursor: pointer;
}

body {
    font-size:16px;
    font-family: var(--main-font-stack);
}


.app {
    width:100%;
}

/*general classes*/
.video__title {
    font-size:var(--title-font-size);
    font-weight:700;
    color:rgb(15, 15, 15);
    letter-spacing: 0.25px;
    margin-bottom:0.25rem;
    width:47ch;
}

.video__author {
    font-size:var(--author-font-size);
    color:var(--gray);
    letter-spacing: 0.5px;
    font-weight:400;
}






/*Contains the video controls,
 the actual video &
 the video suggestions*/
.video-section {
    display:flex;
    flex-direction: column;
}


/*contains the video controls
& the actual video*/
.video-container {
    flex:3;
    position: relative;
    background-color: #000;
    height:100%;
}

.video {
    position: relative;
    display:block;
    width:100%;
    height:88vh;
}

/*just the video controls*/
.video-controls-container {
    position: absolute;
    z-index:10;
    color:#fff;
    width:100%;
    bottom:0%;
}

.video-controls {
    display:flex;
    align-items:center;
    margin:0.6rem 1rem;
}

.video-controls__left-side-icons {
    display:flex;
    align-items:center;
}

.play-pause-icon {
    margin-right:1rem;
    cursor: pointer;
}

.volume-container {
    display:flex;
    align-items:center;
}

.volume-icon {
    margin-right:0.5rem;
    cursor: pointer;
}

.volume-input {
    cursor: pointer;
}

.video-controls__right-side-icons {
    margin-left: auto;
    display:flex;
    align-items:center;
}

.fullscreen-icon {
    cursor: pointer;
}



/*track bar / progress bar*/
.video-progress {
    background-color:var(--black-light);
    width:100%;
    height:7px;
}

.video-progress__inner {
    background-color:var(--blue);
    height:100%;
    width:0%;
}





/*videos description section*/
.video__description {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top:1.25rem;
    margin-bottom:0.5rem;
    margin-left:1.5rem;
}

.video__description__thumbnail {
    object-fit: cover;
    object-position: center;
    width:4rem;
    height:4rem;
    border-radius:50%;
    border:2px solid var(--blue);
    padding:2px;
    margin-right:0.5rem;
}

.description__additonal-info {
    margin-top:0.5rem;
    font-size:0.75rem;
}

.video__description__title {
    font-size:1.25rem;
}

.description__genre {
    color:var(--blue);
}

.description__length {
    margin-left:0.5rem;
    background-color:var(--duration-bg-color);
    color:var(--duration-fg-color);
    padding:0.25rem 0.75rem;
    border-radius:50px;
}





/*suggested videos section*/
.suggested-videos-section {
    flex:1;
    margin:1rem 1rem 5rem 1rem;
}

.video--active .video__title {
    color:#fff;
}

.video--active .video__author {
    color:var(--duration-fg-color);
}

.suggested-videos {
    display:flex;
    flex-direction: column;
    flex:1;
    overflow-y:auto;
    background:#efefef;
    height:20rem;
    margin-top:1rem;
}

.suggested-video {
    display:grid;
    grid-template-columns: 5rem 1fr;
    grid-column-gap: 1rem;
    margin:0.5rem;
    justify-content: center;
    padding:0.5rem;
}

.suggested-video:hover {
    background-color:#e4e4e4;
    cursor: pointer;
}


/*active class*/
.video--active {
    background:var(--duration-bg-color);
}

.video--active:hover {
    background:var(--duration-bg-color);
}


.suggested-video__thumbnail {
    object-fit: cover;
    object-position: center;
    width:100%;
    height:100%;
}

.suggested-video__author {
    font-weight: 700;
    letter-spacing:0.25px;
}

.suggested-video__genre {
    color:var(--gray);
    font-size:0.75rem;
}

.suggested-video__duration {
    color:var(--gray);
    font-size:0.75rem;
}